<div>
  <h2>Manager page</h2>
</div>
<hr>
<form action="write" method="get">
	<input type="submit" value="Add new product">
</form>

<% @products.reverse.each do |product| %>
	<div style="border: 1px solid #ffffff">
	  <h4><a href="/clothes/show/<%= product.id%>"><%= product.title %></a></h4>
	  <p><%= image_tag(product.image_url) %></p>
	  <p style="color :ff0000"><%= product.category %></p>
	  <p><%= product.content %></p>
	  <p><%= button_to "edit"%> <%= button_to "delete"%></p>
	</div>
<% end %>
