<h1>Search result  </h1>
<% @products.reverse.each do |product| %>
	<div style="border: 1px solid #ffffff">
	  <h4><a href="/clothes/show/<%= product.id%>"><%= product.title %></a></h4>
	  <p><%= image_tag(product.image_url) %></p>
	  <p style="color :ff0000"><%= product.category %></p>
	  <p style="color :0000ff"><%= product.category2 %></p>
		<p><%= product.price%>ì›</p>
  	<p><%= product.content %></p>
	</div>
<% end %>
