<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
  <%= image_tag(@product.image_url) %>
  </div>
  <div class="col-md-5">
<h2 style="width: 1000px;"><%= @product.title %></h2>
  <hr style="width: 1000px; ">
  <p style="color: #ff0000">category: <%= @product.category %></p>
	<p style="color: #0000ff">category2: <%= @product.category2 %></p>
	<p>price: <%=@product.price %></p>
  <p>content: <%= @product.content %></p>
	<p style="font-size: 90%; text-align: right;">
	<form action="/cart/add/", method="GET">
	<input type="hidden" name="product_id" value=<%=@product.id%>>
	수량:<select name="quantity">
				<option value=1>1</option>
				<option value=2>2</option>
				<option value=3>3</option>
				<option value=4>4</option>
				<option value=5>5</option>
				<option value=6>6</option>
				<option value=7>7</option>
				<option value=8>8</option>
				<option value=9>9</option>
			</select>
	<input type="submit" value="add to cart">
	</form>
<hr>
  <% @product.comments.each do |comment| %>
  <p><strong>ID <%= comment.username%> : </string><%= comment.content%></p>

<% if comment.username == session[:username]%>
  <form action="/clothes/delete_comment_complete/<%= comment.id%>" method="post">
    <input type ="submit" value="Delete">
  </form>
<% end%>


  <% end %>

  <form action="/clothes/write_comment_complete" method = "post">
  <input type="hidden" name="username" value=<%= session[:username]%>>
  <input type="hidden" name="product_id" value="<%= @product.id%>">
  <p>writer: <input type="text" name="comment_content" placeholder="input comment"><input type="submit" value="Comment"></p>
  </form>
  <p><a href="/">Go to main page</a></p>

  <% if session[:manager_id] %>
    <p><a href="/clothes/management">Go to manager page</a></p>
  <% end %>
  </div>
  <div class="col-md-1">
  </div>
  
</div>



