<div class="side_bar">
  <div class="container">
	<div class="col">
		
		<a href="/categorize/newarrival/<%=@category%>" >NewArrival</a><br><br>
		<a href="/categorize/tshirt/<%=@category%>"  >티셔츠</a><br><br>
		<a href="/categorize/shirt/<%=@category%>" >셔츠</a><br><br>
		<a href="/categorize/cardigan/<%=@category%>" >가디건</a><br><br>
		<a href="/categorize/jacket/<%=@category%>" >자켓</a><br><br>
		<a href="/categorize/pants/<%=@category%>" >팬츠</a><br><br>
		<a href="/categorize/shorts/<%=@category%>" >반바지</a><br><br>
		<a href="/categorize/denim/<%=@category%>" >데님</a><br><br>
		<a href="/categorize/homewear/<%=@category%>" >홈웨어</a><br><br>
		<a href="/categorize/accessory/<%=@category%>">엑세사리</a><br><br>
		<a href="/categorize/sale/<%=@category%>">Sale</a><br><br>
		
	</div>
  </div>
</div>
