<div class="col">
<div class="side_bar_sub_title">
	<% if @category.nil?%>	
		<h3><b>All products</b></h3><br>
	<% else %>
		<h3><b><%=@category%></b></h3><br>
	<% end %>
	<% if @category2 %>
		<h4><b><%=@category2%></b><h4>
	<% end %>
</div>
	<hr>
	<% if @category!="Accessory" %>
<div class="side_component">
<form action="/categorize/tshirt" method="GET">
<%= image_submit_tag("sidebar/t-shirts.PNG")%>
<input type="hidden" name="category" value=<%=@category%>>
</form>
</div>

<div class="side_component">
<form action="/categorize/shirt" method="GET">
<%= image_submit_tag("sidebar/shirts.PNG")%>
<input type="hidden" name="category" value=<%=@category%>>
</form>
</div>

<div class="side_component">
<form action="/categorize/cardigan" method="GET">
<%= image_submit_tag("sidebar/cardigan.PNG")%>
<input type="hidden" name="category" value=<%=@category%>>
</form>
</div>

<div class="side_component">
<form action="/categorize/jacket" method="GET">
<%= image_submit_tag("sidebar/jacket.PNG")%>
<input type="hidden" name="category" value=<%=@category%>>
</form>
</div>

<div class="side_component">
<form action="/categorize/pants" method="GET">
<%= image_submit_tag("sidebar/pants.PNG")%>
<input type="hidden" name="category" value=<%=@category%>>
</form>
</div>

<div class="side_component">
<form action="/categorize/short" method="GET">
<%= image_submit_tag("sidebar/shorts.PNG")%>
<input type="hidden" name="category" value=<%=@category%>>
</form>
</div>

<div class="side_component">
<form action="/categorize/denim" method="GET">
<%= image_submit_tag("sidebar/denim.PNG")%>
<input type="hidden" name="category" value=<%=@category%>>
</form>
</div>

<div class="side_component">
<form action="/categorize/homewear" method="GET">
<%= image_submit_tag("sidebar/homewear.PNG")%>
<input type="hidden" name="category" value=<%=@category%>>
</form>
</div>

	<% end %>
</div>
